<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>注册</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">添加店铺!</h1>
              </div>
              <form class="user" method="post" action="/fresh/store_add/" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="store_name" placeholder="店铺名称">
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                  <input type="text" class="form-control form-control-user" name="store_phone" placeholder="店铺电话">
                </div>
                  </div>
                </div>
{#                <div class="form-group">#}
{#                  <input type="text" class="form-control form-control-user" name="goods_number" placeholder="店铺类型">#}
{#                </div>#}

                  <div class="form-group">
                  <input type="text" class="form-control form-control-user" name="store_address" placeholder="店铺地址">
                </div>
                  <div class="form-group">
                  <input type="file" class="form-control form-control-user" name="store_logo" placeholder="店铺图片">
                </div>
                  <div class="form-group">
                  <input type="text" class="form-control form-control-user" name="store_description" placeholder="店铺描述">
                </div>
                  <div class="form-group" >
                      <select class="form-control " name="store_type" multiple id="" >
                          {% for foo in store_types %}
                              {% if forloop.first %}
                                    <option value="{{ foo.type_name }}" selected="selected">{{  foo.type_name}}</option>
                                  {% else %}
                                  <option value="{{ foo.type_name }}">{{  foo.type_name }}</option>
                              {% endif %}
                          {% endfor %}

                      </select>

                </div>

                  <div class="form-group">
                  <input  type="submit" class="form-control form-control-user btn-primary" id="submit" value="添加">
                </div>

              </form>
              <hr>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>
